@charset "UTF-8";
.stripe{
    margin-top: -7px;
    height: 18px;
    background-color: #31998f;
    margin-bottom: 5px;
    width: 1860px;


}
@font-face {
    font-family: "nf";
    src: url(Raleway-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "rsb";
    src: url(Raleway-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "cf";
    src: url(Raleway-ExtraLightItalic.ttf) format("truetype");
}
section{

    margin: 0 auto;
    width: 1000px;
    float: inherit;
    background-color: #fff;

}
#jap{
    font-family: "nf",sans-serif;
    color: #424242;
    font-weight: bold;
    font-size: 32px;
    float: left;
    margin-top: -1px;


}
header{
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 2px;
}
#body{
    margin: 0 auto;
}
#ceibal_logo{
    height: 51.5px;
    margin-left: 18.6%;
    margin-bottom: 15px;
}
#buscar_logo{
    height: 25px;
    margin-left: 47%;
    margin-bottom: 15px;
    margin-top: -5px;
    padding: 10px;
}
#persona_logo{
    height: 25px;
    margin-top: 4px;
    margin-left: -4px;
    padding: 11px;
    margin-bottom: 15px;
}
#lineas_logo{
    height: 25px;
    padding: 10px;
    margin-top: 4px;
    margin-right: -40px;
    margin-left: -6px;
    margin-bottom: 15px;
}
#i{
    height: 40px;
    margin-left: 38%;
    margin-bottom: 5px;
}
#g{
    height: 40px;
    margin-left: 8px;
    margin-bottom: 5px;

}
#t{
    height: 40px;
    margin-left: 8px;
    margin-bottom: 5px;

}
#f{
    height: 40px;
    margin-left: 8px;
    margin-bottom: 5px;

}

#blue{
    height: 5px;
    width: 166.666666667px;
    background-color: #2d73b5;
    display: inline-block;
    margin-left: -5px;

}
#green{
    height: 5px;
    width: 166.666666667px;
    background-color: #20a29b;
    display: inline-block;
    margin-left: -3.7px;
}
#lgreen{
    height: 5px;
    width: 166.666666667px;
    background-color: #98bf13;
    display: inline-block;
    margin-left: -3.9px;
}
#yellow{
    height: 5px;
    width: 166.666666667px;
    background-color: #f6b63e;
    display: inline-block;
    margin-left: -4px;
}
#orange{
    height: 5px;
    width: 166.666666667px;
    background-color: #e76114;
    display: inline-block;
    margin-left: -4px;
}

#red{
    height: 5px;
    width: 166.666666667px;
    background-color: #e63251;
    display: inline-block;
    margin-left: -4px;
}
#main{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 19px;

    color: #505050;
    text-align: justify;
    font-family: 'Raleway', sans-serif;

}
#sc{

    font-family: "nf",sans-serif;
    color: #424242;
    font-weight: bold;
    font-size: 26px;
    float: left;
    margin-top: 17px;
    margin-bottom: 30px;
    text-align: center;
}
#sc:hover{
    text-decoration: underline #424242;
}
#oblue{
    height: 5px;
    width: 166.666666667px;
    background-color: #2d73b5;
    display: inline-block;
    margin-left: -5px;
}
#ogreen{
    height: 5px;
    width: 166.666666667px;
    background-color: #20a29b;
    display: inline-block;
    margin-left: -3.7px;
}
#olgreen{
    height: 5px;
    width: 166.666666667px;
    background-color: #98bf13;
    display: inline-block;
    margin-left: -3.9px;
}
#oyellow{
    height: 5px;
    width: 166.666666667px;
    background-color: #f6b63e;
    display: inline-block;
    margin-left: -4px;
}
#oorange{
    height: 5px;
    width: 166.666666667px;
    background-color: #e76114;
    display: inline-block;
    margin-left: -4px;
}

#ored{
    height: 5px;
    width: 166.666666667px;
    background-color: #e63251;
    display: inline-block;
    margin-left: -4px;
}

#container {
    position: relative;
}

#example {
   position: absolute;
   height: 500px;
   background-color: white;
}

#blue2{
    height: 5px;
    width: 310px;
    background-color: #2d73b5;
    display: inline-block;
    margin-left: -5px;

}
#green2{
    height: 5px;
    width: 310px;
    background-color: #20a29b;
    display: inline-block;
    margin-left: -3.7px;
}
#lgreen2{
    height: 5px;
    width: 320px;
    background-color: #98bf13;
    display: inline-block;
    margin-left: -3.9px;
}
#yellow2{
    height: 5px;
    width: 320px;
    background-color: #f6b63e;
    display: inline-block;
    margin-left: -4px;
}
#orange2{
    height: 5px;
    width: 320px;
    background-color: #e76114;
    display: inline-block;
    margin-left: -4px;
}

#red2{
    height: 5px;
    width: 329px;
    background-color: #e63251;
    display: inline-block;
    margin-left: -4px;
}
.bot{
    margin-top: 305px;
}
#white{
    margin-top: -200px;
}
#c{
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: -1060px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
    font-family: "rsb", sans-serif;
}
h4{
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "cf", sans-serif;
    margin-top: 20px;
}
#link{

    text-decoration-color: transparent;
}
#link:hover{
    text-decoration: underline #fff;
}
.footers{
    display: flex;
}
.oto{
    font-weight: bold;
    font-family: "nf", sans-serif;
}
.footerone{
    margin-top: 54px;
    font-weight: bold;
    font-size: 16.6px;
    font-family: "nf", sans-serif;
    margin-left: 370px;
}
#fbo{
    margin-top: 15px;
}
.foo{
    margin-top: 15px;
    text-decoration-color: transparent;
}
#f1{
    margin-right: 6px;
}
#t2{
    margin-right: 7px;
}
.foo2{
    margin-top: 10px;
    text-decoration-color: transparent;
}
.footertwo{
    margin-top: 66.5px;

    font-size: 16.6px;
    font-family: "nf", sans-serif;
    margin-left: 140px;
    color: #463333;
}
#d{
    margin-top: 7px;
    text-decoration-color: transparent;
    color: #463333;
}
.footerthree{
    margin-top: 66.5px;

    font-size: 16.6px;
    font-family: "nf", sans-serif;
    margin-left: 140px;
    color: #463333;
}
.foo3{
    margin-top: 10px;
    text-decoration-color: transparent;
}
.footerfour{
    margin-top: 66.5px;

    font-size: 16.6px;
    font-family: "nf", sans-serif;
    margin-left: 140px;
    color: #463333;
}
a{
    color:#463333;
}
.foo4{
    margin-top: 10px;
    text-decoration-color: transparent;
}
#foto{
    position: fixed;

}
